<nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="images/Enredados_-_2022-03-26T201118.994-removebg-preview.png" alt="" width="110" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
          <a class="nav-link" href="#nosotros">Nosotros</a>
          <a class="nav-link" href="#asesorias">Asesorias</a>
          <a class="nav-link" href="#decoracion">Decoración</a>
          <a class="nav-link" href="#tendencias">Tendencias</a>
          <a class="nav-link" href="#contacto">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div id="home" class="row align-items-center hero">
      <div class="col-lg-6 col-md-9 col-sm-12 offset-lg-2">

        <h1>"Crea tu propio estilo"</h1>

      </div>
      <div class="ver-colección"><button type="button" class="btn btn-dark">VER COLECCIÓN</button></div>
    </div>

  </div>

  <!--empieza Nosotros-->
  <div class="row">
    <div class="col-lg-5 offset-lg-1 py-5">
      <h2 id="nosotros">Nosotros</h2>
      <img class="nosotros" src="images/Nosotros1.png" width="300" height="300">
      <p class="intro py-4"> Hola soy Mirian creadora de Enredados. Al igual que muchos otros
        proyectos, Enredados
        nació en época de pandemia. Es un espacio en donde encontrarás, tips, ideas y artículos para decorar todos
        los espacios de tu hogar.
        <a href="https://www.instagram.com/enredados.okk/?hl=es " class="Seguir-leyendo" target="_blank">Seguir
          leyendo..</a></target>
      </p>
      <!--termina nosotros-->
    </div>
    <!--empieza Asesorias-->
    <div class="col-lg-5 py-5">
      <h2 id="aseosrias">Asesorias</h2>
      <p class="asesoria1 py-4"> <strong>No sabes por donde empezar? No desesperes!</strong>
        Contamos con asesorias personalizadas en donde te
        ayudamos a decidir la mejor opción para que tu espacio quede divino!
      </p>
      <!--Arranca el carousel-->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <img src="images/Diseño sin título (9).png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="carouselTitulos">Dormitorios</h5>
              <p class="descripcion">Todo lo que necesitas para tu dormitorio</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/Diseño sin título (11).png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="carouselTitulos">Living-Comedor</h5>
              <p class="descripcion">Que tono elegir a la hora de pintar</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/Diseño sin título (10).png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="carouselTitulos">Todo muebles</h5>
              <p class="descripcion">Que muebles se amoldan mejor a tu espacio</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--Termina el carousel y asesorias-->
    </div>
    <!--Termina el div-->

  </div>
  <!--Arranca decoración-->
  <div class="row align-items-center py-3">
    <h2  id="decoracion"class="deco">Decoración</h2>
    <p class="seccionDeco py-4"> Inspírate y decora</p>
    <div class="col-lg-8 offset-lg-3">
      <div class="row">
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CDg3iN1pGay/">
                <img src="images/deco1.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Mantas</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CEm7V8gBRGB/">
                <img src="images/deco2.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Alfombras</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CQJ_AZqL9kw/">
                <img src="images/deco8.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Accesorios</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CJG8MRcrkas/">
                <img src="images/deco4.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Caminitos</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CJqwbYOhgPC/">
                <img src="images/deco5.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Individuales</h5>

            </div>
          </div>
        </div>
        <div class="col-lg-3 py-2">
          <div class="card">
            <div class="card-body">
              <a href="https://www.instagram.com/p/CLskgRshLxu/">
                <img src="images/deco7.png" class="card-img-top" alt="...">
              </a>
              <h5 class="card-title py-2">Puffs</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--termina decoracion-->
  <!--Arranca Tendencias-->
  <div class="row">
    <div class="col-lg-5 offset-lg-1 py-5">
      <h2  id="tendencias" class="deco">Tendencias</h2>
      <p class="seccionDeco py-4"> Si estás pensando en cambiar la decoración y buscas inspiración, aca te contamos
        cuáles
        son
        los estilos de
        decoración de interiores más populares y las claves para obtenerlos.</p>
      <div class="col-lg-5 offset-lg-1 "></div>
      <div class="card-group">
        <div class="card">
          <img src="images/Enredados (12).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Beneficios de la decoración</h5>
            <p class="card-text"> Nuestro hogar es nuestro refugio y es vital sentirnos bien en
              todas las estancias, por eso mejorar la decoración de nuestra casa no es solo cosa de interiorismo, sino
              que nos brinda muchas otras ventajas..</p>
          </div>
        </div>
        <div class="card">
          <img src="images/tendencias1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Accesorios para tu cocina</h5>
            <p class="card-text">En esta sección te contamos cuales son los accesorios que si o si tienen que estar en
              tu cocina.</p>
          </div>
        </div>
        <div class="card">
          <img src="images/tendencias3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Velas ¿Si o no?</h5>
            <p class="card-text">La iluminación de los ambientes a menudo no se tiene en cuenta a la hora de decorar
              la casa, pero es una parte muy importante del diseño de interiores. Incorporar velas, lámparas de mesa,
              portavelas o farolillos nos ayudará a crear ambientes íntimos y acogedores a la…</p>
          </div>
        </div>
      </div>
    </div>
    <!--termina Tendencias-->
    <!--Arranca Contacto-->
    <div class="col-lg-4 py-5">
      <h2 id="contacto" class=" formulario deco">Contacto</h2>
      <p class="consultas py-4">¿Consultas o sugerencias? Envianos tu mensaje:</p>
      <form action="/" method="post">
      <div class=" formulario mb-3 py-4">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder=""  name="nombre">
      </div>
      <div class=" formulario mb-3">
         <label for="exampleFormControlInput1" class="form-label">Apellido</label>
         <input type="text" class="form-control" id="apellido" placeholder="" name="apellido">
      </div>
      <div class=" formulario mb-3">
         <label for="exampleFormControlInput1" class="form-label">Email</label>
         <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" name="email">
      </div>
      <div class="formulario mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
      
      <div class="botonEnvio col-lg-4 py-4">
           <button type="submit" class="enviar btn btn-light">Enviar</button>
      </div>
    </form>
    {{#if message}}
    {{message}}
    {{/if}}
    
      </div>
   </div>

    </div>
 
 
    <!--termina Contacto-->
  
  <div class="row">
    <div class="col-lg-12">
      <h6 class="conectados"><strong>Sigamos conectados</strong></h6>
    </div>

    <div class="col-lg-5"></div>
    <div class="col-lg-1">
      <a href="https://www.instagram.com/enredados.okk/"><i class=" offset-11 iconoInsta  fa fa-instagram fa-2x"
          aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-lg-5">
      <a href="https://www.facebook.com/enredados.okk/?notif_id=1649414282792628&notif_t=page_user_activity&ref=notif"><i
          class="  iconoFace fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      <div class="col-lg-1"></div>
    </div>

  </div>